body {
    height:700px;
    font-family: verdana, tahoma, arial, helvetica, sans-serif !important;
}

.fullCont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainDiv {
    border: 1px solid black;
    background-color:#edf3fe;
    width:400px;
    height:380px;
    
}

#mainDiv:first-child{
    /*font-family:'Times New Roman';*/
    text-align:center;
    
}

#txtInput{
    border:1px black;
    border-radius:2px 2px;

}

#dvInput {
    margin-top: 30px;
    display: inline-grid;
}

#dvResults {
     text-align:center;
    margin-top:30px;
    display:none;
}

#result {
    text-wrap:normal;
    width:290px
}